@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --foreground-rgb: #e5e7f5;
}

select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Safari, Chrome, Opera */
  -webkit-appearance: none;
}
select::-ms-expand {
  display: none;
}
[data-theme="dark"] body {
  :root {
    --foreground-rgb: #fff;
  }
}
/* Hide scrollbar for Chrome, Safari and Opera */
#hide_scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#hide_scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.dropdown-menu {
  position: relative;
  display: inline-block;
}

.dropdown-menu:hover .dropdown-container {
  display: block;
}
.dropdown-container {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
/* a:after {
  display: block;
  content: "";
  border-bottom: solid 3px black;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 250ms ease-in-out;
}
a:hover:after {
  transform: scaleX(1);
  color: white;
} */

::-webkit-scrollbar {
  width: 2px;
  margin: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #22c55e;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #003ba8;
  width: 10%;
}
