/* Variables */
:root {
    --primary-color: #007bff; /* Blue theme */
    --bg-light-color: #f5f5f5;
    --text-primary-color: #333;
    --text-dark-color: #212121;
    --success-color: #28a745;
}
  
  /* Estilos globais */
  body {
    font-family: 'Lexend Deca', sans-serif;
    background-color: var(--bg-light);
    color: var(--text-color-dark);
    margin: 0;
    padding: 0;
  }
  
  /* Container principal da página */
  .container {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  
  /* Estilo da seção educacional */
  .educational-section {
    background-color: var(--bg-light-color);
    padding: 20px;
    border-radius: 8px;
  }
  
  .educational-section h2 {
    color: var(--primary-color);
    font-size: 1.8em;
    margin-bottom: 15px;
  }
  
  .educational-section p {
    line-height: 1.6;
    margin-bottom: 15px;
  }
  
  .educational-section ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 20px;
  }
  
  .educational-section li {
    margin-bottom: 10px;
  }


h3 {
    color: var(--text-dark-color);
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.investment-calculator {
    display: flex;
    gap: 2rem;
    padding: 1rem;
    background-color: var(--bg-light-color);
}

.input-section, .result-section {
    flex: 1;
    background: white;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Input Section */
.input-section .input-group {
    margin-bottom: 1rem;
}

.input-group label {
    display: block;
    font-weight: 600;
    color: var(--text-primary-color);
    margin-bottom: 0.25rem;
}

.input-group input, .input-group select {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: var(--text-primary-color);
    background-color: #f9f9f9;
}

.term-input {
    display: flex;
    gap: 0.5rem;
}

.term-input input {
    width: fit-content;
}

.rate-info {
    font-size: 0.9rem;
    color: #888;
    margin-top: 0.25rem;
}

/* Asset Type Buttons */
.asset-type {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.asset-button {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--bg-light-color);
    color: var(--text-primary-color);
}

.asset-button.selected {
    background-color: var(--primary-color);
    color: #fff;
    border-color: var(--primary-color);
}

/* Simulate Button */
.simulate-button {
    width: 100%;
    padding: 0.75rem;
    background-color: var(--primary-color);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.simulate-button:hover {
    background-color: var(--bg-light-color);
    color: var(--primary-color);
    outline: 1px solid var(--primary-color);
}

/* Result Section */
.result-section h1 {
    font-size: 2rem;
    color: var(--success-color);
}

.result-section ul {
    list-style: none;
    padding: 0;
}

.result-section ul li {
    margin-bottom: 0.5rem;
    color: var(--text-primary-color);
}

.disclaimer {
    font-size: 0.85rem;
    color: #888;
    margin-top: 1rem;
}

